<div class="container mt-5">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card neon-box bg-transparent border-0">
                <div class="card-body">
                    <span class="neon-title fs-3 mb-4 d-inline-block">LISTADO DE PRODUCTOS</span>
                    <button class="neon-btn float-end mb-4" routerLink="/admin/crear-producto">NUEVO</button>
                    <table class="table table-borderless table-hover mt-3" style="color: white;">
                        <thead style="border-bottom: 2px solid var(--primary-neon);">
                          <tr>
                            <th scope="col" class="text-white">Código</th>
                            <th scope="col" class="text-white">Nombre</th>
                            <th scope="col" class="text-white">Categoría</th>
                            <th scope="col" class="text-white">Ubicación</th>
                            <th scope="col" class="text-white">Precio</th>
                            <th scope="col" class="text-white"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let producto of listProductos">
                            <th scope="row">1</th>
                            <td>{{producto.nombre}}</td>
                            <td>{{producto.categoria}}</td>
                            <td>{{producto.ubicacion}}</td>
                            <td>{{producto.precio | currency}}</td>
                            <td><i [routerLink]="['/admin/editar-producto', producto._id]" class="text-primary fa-solid fa-pen-to-square" style="cursor:pointer; text-shadow: 0 0 5px blue;"></i></td>
                            <td><i (click)="eliminarProducto(producto._id)" class="text-danger fa-solid fa-trash" style="cursor:pointer; text-shadow: 0 0 5px red;"></i></td>
                          </tr>
                        </tbody>
                      </table>
                      <h5 *ngIf="listProductos.length == 0" class="text-muted mt-4">No hay productos para mostrar!</h5>
                </div>
            </div>
        </div>
    </div>
</div>